body {
	position:relative;
	padding:101px 0 0 0;	
	height:100%;
}

main {
	text-align:center;
	padding: 0 15px;
	margin-bottom:100px;
}


h1:first-child {
	border-top:none;
	margin-top:0px !important;
	padding-top:0px !important;
}

h1 {
	margin-top:30px !important;
	padding-top:40px !important;
	border-top:1px solid gray;
}

h1 a:link,
h1 a:hover,
h1 a:active {
	text-decoration:none;
}

embed {
	display:block;
	margin:0 auto;
}

#cafegold1-menu img  {
	margin-top:30px;
	width:100%;
	max-width:800px;
}

.purino a {
	margin-top:20px;
	display:inline-block;
}

#purino1-menu, #purino2-menu, #anatolia-menu { 
	margin: 0 auto;
	width: 1000px;
	max-height:600px;
	overflow:auto;
	background: #eee;
}

.container {
	width: 100% !important;
}
